@page
@model WebApplication1.Pages.Admin.IndexModel
@{
}
<form method="post">
    <input type="text" name="username" placeholder="Login">
    <input type="password" name="password" placeholder="Mot de passe">
    <button>Se connecter</button>
</form>